<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DatabázeVín</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="icon" href="https://cdn.pixabay.com/photo/2022/04/06/10/03/wine-7115242_1280.png" type="image/x-icon">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <style>
      footer > div,
      header > div {
        background-color: #000b54 !important;
      }
      .bs-grey10 {
        background-color: #c4bfbf;
        border-radius: 20px;
      }
      .card > img {
        padding-top: 0.5vw;
        max-height: 15vw;
        object-fit: contain;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #ddd;
      }

      th,
      td {
        text-align: center;
        padding: 8px;
        border: 1px solid #ddd;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2;
      }

      th {
        background-color: #000b54;
        color: white;
      }

      td {
        border-right: 1px solid #ddd;
      }
    </style>
  </head>
  <body>
    {% include 'navbar.html'%} {% block content %} {% endblock %} {% include 'footer.html' %}
  </body>
</html>
