<header>
  <div class="px-3 py-2 shadow-sm">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="#" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <h4 class="m-0">
            Databáze Vín <br />
            <span style="font-size: medium">Author: Martin 'RIH0075' Řihák</span>
          </h4>
        </a>
        <nav class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <a href="{% url 'home' %}" class="nav-link text-white">
            <i class="bi bi-house-door"></i>
            Databaze
          </a>
          <a href="{% url 'wine' %}" class="nav-link text-white">
            <i class="bi bi-info-circle-fill"></i>
            Vína
          </a>
          <a href="{% url 'objednavka' %}" class="nav-link text-white">
            <i class="bi bi-shop"></i>
            Objednavky
          </a>
          <a href="{% url 'employee' %}" class="nav-link text-white">
            <i class="bi bi-shop"></i>
            Pracovnik
          </a>
          <a href="{% url 'customer' %}" class="nav-link text-white">
            <i class="bi bi-shop"></i>
            Zakaznik
          </a>
          <a href="{% url 'infoOdrudy' %}" class="nav-link text-white">
            <i class="bi bi-info-circle-fill"></i>
            Informace o Odrudach
          </a>
          <a href="{% url 'creator' %}" class="nav-link text-white">
            <i class="bi bi-emoji-dizzy-fill"></i>
            Stvořitel
          </a>
        </nav>
        <div class="ms-auto">
          {% if request.session.logged %}
            <a href="{% url 'logout' %}" class="btn btn-outline-light">Log OUT</a>
          {% else %}
            <a href="{% url 'login' %}" class="btn btn-outline-light">Log In</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>
