.table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.th, .td {
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
}

.tr:nth-child(even) {
    background-color: #f2f2f2;
}

.th {
    background-color: #4CAF50;
    color: white;
}

.td {
    border-right: 1px solid #ddd;
}