{% extends 'main.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mt-5">
                <div class="card-body">
                    <h2 class="text-center mb-4">Add Wine</h2>
                    <form method="POST" action="" class="mt-4">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <!--
                        <div class="mb-3 row">
                            <label for="{{ form.name.id_for_label }}" class="col-sm-3 col-form-label">Název</label>
                            <div class="col-sm-9">
                                {{ form.name }}
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="{{ form.barva.id_for_label }}" class="col-sm-3 col-form-label">Barva</label>
                            <div class="col-sm-9">
                                {{ form.barva }}
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="{{ form.privlastek.id_for_label }}" class="col-sm-3 col-form-label">Přívlastek</label>
                            <div class="col-sm-9">
                                {{ form.privlastek }}
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="{{ form.rocnik.id_for_label }}" class="col-sm-3 col-form-label">Ročník</label>
                            <div class="col-sm-9">
                                {{ form.rocnik }}
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="{{ form.vyrPocet.id_for_label }}" class="col-sm-3 col-form-label">Vyr Počet</label>
                            <div class="col-sm-9">
                                {{ form.vyrPocet }}
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="{{ form.aktPocet.id_for_label }}" class="col-sm-3 col-form-label">Akt Počet</label>
                            <div class="col-sm-9">
                                {{ form.aktPocet }}
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="{{ form.Cena.id_for_label }}" class="col-sm-3 col-form-label">Cena</label>
                            <div class="col-sm-9">
                                {{ form.Cena }}
                            </div>
                        </div>-->
                        <button type="submit" class="btn btn-primary btn-block mt-3">Submit</button>
                    </form>
                    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary btn-block mt-3">Go Back</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
