{% extends "main.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mt-5">
                <div class="card-body">
                    <h2 class="text-center">Přidat komentář k vybranému vínů</h2>
                    <form method="POST" class="mt-4">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary btn-block mt-3">Přidat komentář</button>
                        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary btn-block mt-3">Go Back</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

