{% extends "main.html" %}

{% block content %}

<div class="container mt-5">
    <h1>Komentáře k vybranému vínů</h1>
    <div class="row">
        {% for comment in comments %}
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ comment.user }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ comment.created }}</h6>
                        <p class="card-text">{{ comment.body }}</p>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col">
                <p>Pro toto víno nejsou k dispozici žádné komentáře.</p>
            </div>
        {% endfor %}
    </div>
    <a href="{% url 'create_comment' wine.id %}" class="btn btn-primary btn-block ">Přidat komentář</a>
    <a href="{% url 'wine' %}" class="btn btn-secondary btn-block mt-3">Go Back</a>
</div>

{% endblock content %}
