{% extends "main.html" %}     

{% block content %}  

<div class="container p-5">
    <div class="frame-container bs-grey10 text-center py-4">
      <!-- Developer Information -->
      <div class="developer-info text-center text-black mt-3">
        <p class="m-0">Developer: Martin Řihák</p>
        <p class="m-0">Email: rih0075@vsb.cz</p>
        <p class="m-0">Login: RIH0075</p>
      </div>
      <!-- Social Information -->
      <div class="row justify-content-center py-5">
        <div class="col-auto">
          <a href="#">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Twitter-new-logo.jpg/240px-Twitter-new-logo.jpg"
              alt="X"
              class="img-fluid"
              style="width: 50px; height: auto"
            />
          </a>
        </div>
        <div class="col-auto">
          <a href="#">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/200px-Instagram_logo_2022.svg.png"
              alt="Instagram"
              class="card-img-top"
              style="width: 50px; height: auto"
            />
          </a>
        </div>
        <div class="col-auto">
          <a href="#">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/600px-LinkedIn_logo_initials.png"
              alt="LinkedIn"
              class="img-fluid"
              style="width: 50px; height: auto"
            />
          </a>
        </div>
      </div>
    </div>
  </div>



{% endblock content %}