{% extends "main.html" %}      
{% block content %}  


<div style="max-height: 400px; overflow-y: auto">
    <h1>Zákazníci</h1>

    <table>
        <thead>
            <tr>
                <th>UserName</th>
                <th>Jméno</th>
                <th>Příjmení</th>
                <th>Email</th>
                <th>Tel. číslo</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer.username }}</td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.surname }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.tel_number }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}