{% extends 'main.html' %}

{% block content %}

<form action="" method="POST">
    {% csrf_token %}
    <h4>Si si jistý, že chceš vymazat "{{obj}}" ?</h4>
    <a href="{{request.META.HTTP_REFERER}}">Go Back</a>
    <input type="submit",value="Confirm">
</form>

{% endblock content %}