{% extends "main.html" %}      
{% block content %}  

<div style="max-height: 400px; overflow-y: auto">
    <h1>Pracovnici</h1>

    <table>
        <thead>
            <tr>
                <th>UserName</th>
                <th>Jméno</th>
                <th>Příjmení</th>
                <th>Email</th>
                <th>Tel. číslo</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.username }}</td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.surname }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.tel_number }}</td>
                <td>{{ employee.role }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock content %}