{% extends 'main.html'%}

{% block content %}
<div class="container mt-5">
    <div>
        <font color="gray"><p style="margin-bottom:50px;">You're logged in as {{ name }}</p></font>
        <hr>
    </div>
    <h1 class="text-center mb-4">Vítejte v Databázi Vín</h1>
    <p class="lead">Tato aplikace slouží k správě informací o vínech, objednávkách a odrůdách vín. Můžete zde prohlížet informace o jednotlivých vínech, spravovat objednávky a získávat zajímavé informace o různých odrůdách vín.</p>
</div>
<!--
<div class="px-3 py-2 bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a href="{% url 'home' %}" class="nav-link px-2 text-white">
                        Databáze
                    </a>
                </li>
                <li>
                    <a href="{% url 'wine' %}" class="nav-link px-2 text-white">
                        Info o Vínách
                    </a>
                </li>
                <li>
                    <a href="{% url 'objednavka' %}" class="nav-link px-2 text-white">
                        Objednavky
                    </a>
                </li>
                <li>
                    <a href="{% url 'infoOdrudy' %}" class="nav-link px-2 text-white">
                        Informace o Obrudach
                    </a>
                </li>
                <li>
                    <a href="{% url 'creator' %}" class="nav-link px-2 text-white">
                        Stvořitel
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
-->
<!-- Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock content%}