{% extends 'main.html'%}

{% block content %}
  <div class="container py-5">
    <div class="row row-cols-3 g-3">
      <div class="col">
        <div class="card h-100">
          <img
            class="card-img-top"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b3/Pinot-blanc.jpg/220px-Pinot-blanc.jpg"
            alt="Grapes Image"
          />

          <div class="card-body">
            <h5 class="card-title text-black">Rulandské bílé</h5>
            <hr class="m-1" />
            <p class="card-text">
              také známé jako Pinot Blanc, je bílé víno pocházející z
              Burgundska. Má světlou a osvěžující chuť s jemnými tóny bílých
              květů a citrusového ovoce. Je oblíbené pro svou všestrannost a
              schopnost dobře doplňovat různá jídla. Rulandské bílé se pěstuje
              po celém světě, včetně Evropy, Nového Zélandu a Severní Ameriky.
            </p>
          </div>

          <div class="card-footer text-muted align-bottom">
            <div class="row">
              <div class="col">
                <a
                  href="https://cs.wikipedia.org/wiki/Rulandsk%C3%A9_b%C3%ADl%C3%A9"
                  target="_blank"
                  class="btn btn-sm btn-secondary"
                  >Zobrazit</a
                >
              </div>

              <div class="col text-center align-self-center">
                <span class="text-white-100"><b>Původ:</b> Burgundsko</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img
            class="card-img-top"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/Blaufrankisch_close_up.JPG/220px-Blaufrankisch_close_up.JPG"
            alt="Grapes Image"
          />

          <div class="card-body">
            <h5 class="card-title text-black">Frankovka</h5>
            <hr class="m-1" />
            <p class="card-text">
              známá také jako Blaufränkisch, je červené víno původem z
              Rakouska a střední Evropy. Má typickou chuť po tmavém ovoci,
              koření a bylinách, doplněnou svěžím kyselým základem. Je
              oblíbená pro svou strukturu a schopnost stáří. Frankovka se
              pěstuje také v dalších regionech, jako jsou Maďarsko a Česká
              republika, a získává uznání díky své schopnosti vyjádřit
              terroir.
            </p>
          </div>

          <div class="card-footer text-muted align-bottom">
            <div class="row">
              <div class="col">
                <a
                  href="https://cs.wikipedia.org/wiki/Frankovka"
                  target="_blank"
                  class="btn btn-sm btn-secondary"
                  >Zobrazit</a
                >
              </div>

              <div class="col text-center align-self-center">
                <span class="text-white-100"><b>Původ:</b> Rakousko</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img
            class="card-img-top"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Merlot_Equinox.jpg/220px-Merlot_Equinox.jpg"
            alt="Grapes Image"
          />

          <div class="card-body">
            <h5 class="card-title text-black">Merlot</h5>
            <hr class="m-1" />
            <p class="card-text">
              je červené víno původem z Bordeaux, Francie, ale je také široce
              pěstováno po celém světě. Má jemnou a sametovou texturu s
              příjemnými tóny červeného ovoce, jako jsou třešně a švestky,
              doplněné o bylinné a kořeněné nuance. Merlot je oblíbené pro
              svou snadnou pitelnost a schopnost být buď samostatným vínem
              nebo součástí směsí. Pěstuje se v mnoha vinárenských regionech,
              včetně Francie, Itálie, Kalifornie a Austrálie.
            </p>
          </div>

          <div class="card-footer text-muted align-bottom">
            <div class="row">
              <div class="col">
                <a
                  href="https://cs.wikipedia.org/wiki/Merlot"
                  target="_blank"
                  class="btn btn-sm btn-secondary"
                  >Zobrazit</a
                >
              </div>

              <div class="col text-center align-self-center">
                <span class="text-white-100"><b>Původ</b> Bordeaux</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img
            class="card-img-top"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/76/Riesling_grapes_leaves.jpg/220px-Riesling_grapes_leaves.jpg"
            alt="Grapes Image"
          />

          <div class="card-body">
            <h5 class="card-title text-black">Ryzlink vlašský</h5>
            <hr class="m-1" />
            <p class="card-text">
              známý také jako Welschriesling, je bílé víno, které má svůj
              původ v Rakousku a střední Evropě. Má osvěžující chuť s
              výraznými tóny zeleného ovoce, jako jsou hrušky a zelená jablka,
              doplněné o jemné bylinné a květinové aroma. Ryzlink vlašský je
              oblíbený pro svou výraznou kyselost a snadnou pitelnost. Je
              široce pěstován v různých vinárenských regionech po celém světě,
              včetně Rakouska, Německa, Maďarska a České republiky.
            </p>
          </div>

          <div class="card-footer text-muted align-bottom">
            <div class="row">
              <div class="col">
                <a
                  href="https://www.imdb.com/title/tt0120737/"
                  target="_blank"
                  class="btn btn-sm btn-secondary"
                  >Zobrazit</a
                >
              </div>

              <div class="col text-center align-self-center">
                <span class="text-white-100"><b>Původ</b> Rakousko</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img
            class="card-img-top"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/IMG_Pinot_Noir_1.JPG/220px-IMG_Pinot_Noir_1.JPG"
            alt="Grapes Image"
          />

          <div class="card-body">
            <h5 class="card-title text-black">Rulandské modré</h5>
            <hr class="m-1" />
            <p class="card-text">
              známé také jako Pinot Noir, je červené víno původem z
              Burgundska, Francie. Má jemnou a elegantní chuť s tóny červeného
              ovoce, jako jsou třešně a maliny, doplněné o kořeněné a bylinné
              nuance. Rulandské modré je ceněné pro svou komplexnost, jemné
              třídní strukturu a schopnost vyjádřit terroir. Pěstuje se v
              různých vinárenských regionech po celém světě, včetně Francie,
              Itálie, Nového Zélandu a Spojených států. Je také klíčovou
              odrůdou pro mnoho špičkových burgundských vín.
            </p>
          </div>

          <div class="card-footer text-muted align-bottom">
            <div class="row">
              <div class="col">
                <a
                  href="https://cs.wikipedia.org/wiki/Rulandsk%C3%A9_modr%C3%A9"
                  target="_blank"
                  class="btn btn-sm btn-secondary"
                  >Zobrazit</a
                >
              </div>

              <div class="col text-center align-self-center">
                <span class="text-white-100"><b>Původ</b> Burgundsko</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img
            class="card-img-top"
            src="https://mojelahve.cz/images/articles/orig/988/827/1a4f017888172f0530d3c830c3a0edee.jpg"
            alt="Grapes Image"
          />

          <div class="card-body">
            <h5 class="card-title text-black">Neuburské</h5>
            <hr class="m-1" />
            <p class="card-text">
              je bílé víno původem z Rakouska, které se v posledních letech
              stalo stále populárnější. Má osvěžující chuť s výraznými tóny
              citrusového ovoce a zelených jablek, často doplněné o jemné
              bylinné a minerální nuance. Neuburské je ceněné pro svou
              svěžest, vyváženost a schopnost dobře stárnout. Tato odrůda se
              pěstuje především v rakouských vinařských oblastech, ale také se
              najde v některých částech Německa a dalších evropských zemí.
            </p>
          </div>

          <div class="card-footer text-muted align-bottom">
            <div class="row">
              <div class="col">
                <a
                  href="https://www.vinazmoravyvinazcech.cz/cs/o-vine/pruvodce-vinem/deleni-vina/deleni-podle-odrud/odrudy-bilych-vin/4581703-neuburske"
                  target="_blank"
                  class="btn btn-sm btn-secondary"
                  >Zobrazit</a
                >
              </div>

              <div class="col text-center align-self-center">
                <span class="text-white-100"><b>Původ</b> Rakousko</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content%}