{% extends "main.html" %}      
{% block content %}  

<div>
    <div>
        {% if login_message != '' %}
        <div class="w3-panel w3-pale-red w3-bottombar w3-border-red w3-border w3-card-4">
            <h3 style="margin-top:10px;">Login failed</h3>
            <p>Wrong email or password</p>
        </div>
        {% endif %}
        
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
                <br>
                <label for="login_username">Username: </label>
                <input class="w3-input w3-border w3-round-large" type="text" name="login_username" placeholder="Enter Username"   >
                <br>
                <label for="login_password">Password: </label>
                <input class="w3-input w3-border w3-round-large" type="password" name="login_password" placeholder="Enter Password" >
                <br>
            <input type="submit" value="Login">  
            <br><br>
        </form>
    </div>
</div>

{% endblock content %}