{% extends "main.html" %}

{% block content %}

<div>
    <h1>Seznam objednávek</h1>
    <a href="{% url 'add_objednavka' %}"><button class="btn btn-primary btn-block mt-3">Vytvořit novou objednávku</button></a>
    <table>
        <thead>
            <tr>
                <th>ID</th>                
                <th>Cena</th>
                <th>Počet Položek</th>
                <th>Zákazník</th>
                <th>Čas Tržby</th>
                <th>Zpracovaná</th>
                <th>Zobrazit</th>                
            </tr>
        </thead>
        <tbody>
            <form method="POST" action="{% url 'update_objednavky' %}">
                {% csrf_token %}
                {% for objednavka in obj %}
                <tr>
                    <td>{{ objednavka.id }}</td>
                    <td>{{ objednavka.celkova_cena }},-Kč</td>
                    <td>{{ objednavka.pocet_prodejitem }}</td>
                    <td>{{ objednavka.customer }}</td>
                    <td>{{ objednavka.casTrzby }}</td>
                    <td>
                        <input type="checkbox" name="zpracovana_{{ objednavka.id }}" {% if objednavka.zpracovana %}checked{% endif %}>
                    </td>
                    <td><a href="{% url 'view_objednavka' objednavka.id %}">View</a></td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="7">
                        <button type="submit" class="btn btn-primary">Aktualizovat</button>
                    </td>
                </tr>
            </form>
        </tbody>
    </table>
</div>

{% endblock content %}
