{% extends "main.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card mt-5">
                <div class="card-body">
                    <h2 class="text-center">Přidat položky do objednávky</h2>
                    <p class="text-center">Objednávka číslo: {{ objednavka.id }}</p>
                    <form method="post" class="mt-4">
                        {% csrf_token %}
                        <input type="hidden" name="prodej" value="{{ objednavka.id }}">
                        {{ polo.as_p }}
                        <button type="submit" class="btn btn-primary btn-block mt-3">Přidat položku</button>
                    </form>

                    <form action="{% url 'objednavka' %}" method="post" class="mt-3">
                        {% csrf_token %}
                        <button type="submit" name="dokoncit_objednavku" class="btn btn-success btn-block">Dokončit Objednávku</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Název vína</th>
                    <th>Množství</th>
                    <th>Cena</th>
                </tr>
            </thead>
            <tbody>
                {% for polozka in objednavka.items.all %}
                <tr>
                    <td>{{ polozka.wine.name }}</td> 
                    <td>{{ polozka.mnozstvi }} Ks</td> 
                    <td>{{ polozka.wine.Cena }},- Kč</td> 
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}
