{% extends "main.html" %}     

{% block content %}  

<div>
    <h1>Detail objednávky č. {{ objednavka.id }}</h1>
    <p><strong>Celková cena:</strong> {{ objednavka.celkova_cena }},- Kč</p>
    <p><strong>Počet položek:</strong> {{ objednavka.pocet_prodejitem }} Ks</p>
    
    <h2>Seznam položek:</h2>
    <table>
        <thead>
            <tr>
                <th>Název vína</th>
                <th>Množství</th>
                <th>Cena</th>
            </tr>
        </thead>
        <tbody>
            {% for polozka in objednavka.items.all %}
            <tr>
                <td>{{ polozka.wine.name }}</td> 
                <td>{{ polozka.mnozstvi }} Ks</td> 
                <td>{{ polozka.wine.Cena }},- Kč</td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}
