{% extends "main.html" %}     

{% block content %}  

<div style="max-height: 400px; overflow-y: auto">
    <h1>Wine Information</h1>
    <a href="{% url 'add_wine' %}"><button class="btn btn-primary btn-block mt-3">AddWine</button></a>    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Název</th>
                <th>Barva</th>
                <th>Přívlastek</th>
                <th>Ročník</th>
                <th>NaSkladě</th>
                <th>Cena</th>
                <th>EDIT</th>
                <th>DELETE</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            {% for wine in wines %}
            <tr>
                <td>{{ wine.id }}</td>
                <td>{{ wine.name }}</td>
                <td>{{ wine.barva }}</td>
                <td>{{ wine.privlastek }}</td>
                <td>{{ wine.rocnik }}</td>
                <td>{{ wine.aktPocet }}</td>
                <td>{{ wine.Cena }}</td>
                <td><a href="{% url 'edit_wine' wine.id  %}">Edit</a></td>
                <td><a href="{% url 'delete_wine' wine.id  %}">Delete</a></td>
                <td><a href="{% url 'comments' wine.id %}">Comment</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}